


div.box_div{
	position:absolute;
	
	left:0%;
	right:0%;
	bottom:0%;
	top:0%;
	
	/*min-width:1366px;*/
	/*min-height:768px;*/
	
	/*min-width:1280px;*/
	/*min-height:720px;*/
	
}

/* -----------   TOP PANEL  ------------- */

div.top_div{
	position:absolute;
	top:0%;
	right:0%;
	left:0%;
	
	height:5%;
	width:100%;
	
	background-color: #d9d9d9;
	

}

p.top_div_name{

	position:absolute;

	right:8%;
	padding:auto;
	visibility:visible;


}

p.top_div_language{

	position:absolute;

	left:8%;
	padding:auto;
	visibility:visible;


}

input.top_div{

	height:60%;

	position:absolute;
	right:3%;
	top:20%;

	
}


/*-------------------------------------------*/

/* -----------   LEFT PANEL ------------- */

div.left_div{
	position:absolute;
	left:0%;
	bottom:0%;
	width:20%;
	height:95%;
	
	
}

div.contact_title_div{
	position:absolute;
	top:0%;
	left:0%;
	
	height:10%;
	width:100%;
	
	background-color: #d9d9d9;

	
	margin:auto;
}



ul.import_contacts_list{
	list-style-type:none;
	position:absolute;

	width:100%;
	/*height:20%;*/
	height:15%;
	
	padding:0%;
	top:10%;
	
	margin:auto;
	
    background-color: #f1f1f1;
}

li.import_contacts_list{
	position:relative;

	/*height:50%;*/
	height:100%;
	width:100%;
	border-bottom: 2px solid #b3b3b3;
	
	padding:0%;
}


img.add_contact_image,img.import_contact_image{
	height:65%;
	/*width:15%;*/
	
	position:absolute;
	left:5%;
	top:17.5%;
	bottom:17.5%;
	
	
	opacity:0.6;
	
	overflow:hide;
}

p.add_contact_text,p.import_contact_text{
	position:absolute;
	left:40%;
}


/* Contacts List */


ul.contacts_list{
	list-style-type:none;
	position:absolute;
	/*top:30%;*/
	top:25%;

	padding-left:0%;
	padding-top:0%;


	overflow:auto;

	width:100%;
	/*height:58%;*/
	height:63%;
	
	margin:auto;
}


li.contact{

	position:relative;


	width:100%;
	/*height:16%;*/
	height:13%;
	border-bottom: 2px solid #b3b3b3;

}

input.contact{
	position:absolute;
	right:5%;
	bottom:45%;

}

img.contact{

	height:80%;

	position:absolute;
	left:5%;
	top:10%;
	bottom:10%;
	
	border-radius: 50%;

	/*visibility:hidden;*/
}
p.contact_name{
	position:absolute;
	margin-left:30%;
	padding:auto;
}
p.contact_surname{
	position:absolute;
	top:20%;
	left:35%;
}
p.contact_username{
	position:absolute;
	margin-left:30%;
	padding:auto;

}
p.contact_online{
	position:absolute;
	top:30%;
	right:5%;
	color:#66ff66;
}

p.contact_offline{
	position:absolute;
	top:30%;
	right:5%;
	

	color:#ff3300;
}

/* Start chat */

div.start_chat{
	position:absolute;
	bottom:0%;
	height:12%;
	width:100%;


}

div.start_chat input{
	background-color: #b3b3b3;

	width:80%;
	height:80%;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: auto;
    
    position:absolute;
    top:10%;
    bottom:10%;
    left:10%;
    right:10%;
}

/*-------------------------------------------*/

/* -----------   CHAT PANEL --------------- */

#chat_background{
	position:absolute;
	width:80%;
	height:95%;
	left:20%;
	top:5%;
	
	opacity:0.1;
}

div.chat_div{
	position:absolute;
	width:80%;
	height:95%;
	
	left:20%;
	top:5%;
	
	padding:0%;
	

}

/* -----------   switch chat panel --------------- */

div.switch_chat{
	position:absolute;
	width:100%;
	height:5%;
	
	top:0%;
	padding:0%;
	
	background-color:#f1f1f1;
	
	overflow-x:auto;
}


div.group_list{
	white-space: nowrap;
	overflow-x:auto;
	
	font-size:0;
}
div.group_list_item{

	position:relative;
	display:inline-block;


	
	height:100%;
	width:20%;
	
	padding:0;

}

ul.members_list{

	list-style-type: none;
    margin: 0;
    padding: 0;
    
	width:20%;
	height:100%;
	position:absolute;
	top:5%;
	left:0%;
	overflow:auto;
	visibility:hidden;
}

ul.members_list li{
	width:100%;
	height:5%;
	
	border:2px solid #999999;
	background-color:#f1f1f1;
}

div.group_list_item p{
	font-size:20px;
	position:absolute;
	
	bottom:40%;
}

div.group_list_item{
	background-color: #b3b3b3;
	border-right:2px solid #999999;
}



div.switch_chat input{
	position:absolute;
	right:3%;
	top:25%;
	
	height:50%;
	margin-right:0;
}

div.switch_chat p{
	position:relative;
	left:3%;
}

/*--------------  display message panel -----------------*/

ul.show_messages{

	list-style-type:none;
	padding:0;
	margin:0;

	position:absolute;
	top:5%;
	bottom:20%;
	
	width:100%;
	height:83%;

	overflow:auto;
}

li.received_message{

	border-radius: 0px 30px 30px 70px;
	background-color: #d9d9d9;
	
	width:50%;
	height:auto;
	
	margin-left:3%;
	position:relative;
	
	opacity:0.8;
}



li.sent_message{
	border-radius: 30px 0px 70px 30px;
	background-color:#66ff66;
	
	width:50%;
	height:auto;
	
	margin-left:47%;
	position:relative;
	
	opacity:0.8;
	

}

li.received_message p{

	position:relative;
	margin-right:5%;
	margin-left:10%;
	padding:3%;
	font-size:auto;
	
}

li.sent_message p{

	position:relative;
	margin-right:10%;
	margin-left:5%;
	padding:3%;
	font-size:auto;

}

li.received_message h3{
	position:relative;
	margin-left:3%;
	font-size:auto;
}



/*-------------  write message panel --------------------*/

div.write_message{
	position:absolute;
	bottom:0%;
	
	height:12%;
	width:100%;
	
	background-color:#d9d9d9;
}





div.write_message input[type=button]{

	position:absolute;
	
	right:5%;
	bottom:15%;

    background-color: #b3b3b3;
    border: none;
	width:15%;
	height:70%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: auto;
    
}

div.write_message textarea{

	position:absolute;
	
	left:5%;
	top:5%;
	
	width:65%;
	height:90%;
	
	text-align:left;
	font-size:auto;

}

div.write_message textarea {
	position:absolute;
	
	left:5%;
	top:5%;
	
	width:70%;
	height:90%;
	
	
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
	background-color:#ffffff;
    resize: none;
    
}
































