div.box_div{
	position:absolute;
	
	left:0%;
	right:0%;
	bottom:0%;
	top:0%;
	
	/*min-width:1366px;*/
	/*min-height:768px;*/
	
	min-width:720px;
	min-height:480px;


	
}

img.box_img{
	padding-top:0;
    opacity: 1;
}

form.login_form{

	position:absolute;
	
	width:20%;
	height:60%;
	top:10%;
	right:4%;
	
	text-align:center;
	font-size: 30px;
	
	opacity: 0.8;


    background-color: #ffffff;
    border: 2px solid #66ff33;
    visibility:hidden;
}

form.register_form{
	position:absolute;
	
	width:20%;
	height:70%;
	top:10%;
	right:4%;
	
	text-align:center;
	font-size: 30px;
	
	opacity: 0.8;


    background-color: #ffffff;
    border: 2px solid #66ff33;
    visibility:hidden;
}

form input[type=text] {
    border: 2px solid #66ff33;
    border-radius: 4px;
}

form input[type=password] {
    border: 2px solid #66ff33;
    border-radius: 4px;
}

form input[type=submit] {


    background-color: #3CBC8D;
    color: white;


	font-size: 30px;
}

form select {
	
    width: 80%;
    margin:0;
    


    border: 2px solid #66ff33;
    border-radius: 4px;
}

div.error_div{
	position:absolute;
	top:10%;
	left:20%;
	
	width:30%;
	height:10%;
	
	border:2px solid #ff0000;
	background:#ffb3b3;
	
	text-align:center;
	
}

input.login{

	position:absolute;
	
	top:10%;
	right:4%;
	
	width:20%;
	height:20%;
	
	opacity: 0.8;


    border-radius: 4px;
    background-color: #f1f1f1;

	color:#000000;
	width:20%;
	height:15%;
    text-align: center;
    display: inline-block;
    font-size: 30px;

}


input.register{

	position:absolute;
	
	top:60%;
	right:4%;
	
	width:20%;
	height:20%;
	opacity: 0.8;

    border-radius: 4px;
    background-color: #f1f1f1;

	color:#000000;
	width:20%;
	height:15%;
    text-align: center;
    display: inline-block;
    font-size: 30px;

    
}


