<html>
	<head>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- import jQuery -->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script> <!-- import socketio -->

		
		<meta name="username" content={{ data["username"] }}>
		<meta name="token" content={{ data["token"] }}>
		<meta name="language" content={{ data["language"] }}>
		
		
		
		<title>Chat</title>
		<link rel = "stylesheet" type = "text/css" href = "../static/chat.css">
	</head>
	
	<body>
		

			
			
			<div class="top_div">
				<p class="top_div_language">Language: {{ data["language"]  }}</p>
				<p class="top_div_name">Logged as:  {{ data["username"] }}</p>
				<input class="top_div" id="logout" type="image" src = "../static/icons/logout.png" onclick=logout()>
			</div>
			
			
			
			<div class="left_div">

					<div class="contact_title_div">
						<h3 class="contact_title">Contacts</h3>
					</div>
					
					

						<ul class="import_contacts_list">

							<li class="import_contacts_list">
								<a href="/import_contacts_from_google"><img class="import_contact_image"  src = "../static/icons/import.png"></a><p class="import_contact_text">Import Contacts from Google</p>
							</li>
						</ul>

					

						<ul class="contacts_list" id="contacts_list">
						<!-- carica la lista dei contatti dell'utente -->
						
						{% for contact in data["contacts"] %}

						<li class="contact" id={{contact}}>
							<img class="contact" src="../static/icons/user.png"><p class="contact_name">{{contact}}</p>
																				<p class="contact_offline">offline</p>
						</li>
						{% endfor %}
						
						</ul>
						


					<div class="start_chat">
						<input type="button" value="Start Chat">
					</div>
					

			</div>
			
			<img id="chat_background" src="../static/icons/hello.png">
			<div class="chat_div" id="chat_div">
				
				<div class="switch_chat" id="switch_chat">
					<div class="group_list" id = "group_list">
					</div>
				</div>

				
				<div class="write_message">
					<textarea id="message_text" ></textarea>
					<input id="send_button" type="button" value="Send" onclick="sendMessage();">
				</div>
				
			</div>
			
			
			
			
			
			
		</div>
	</body>
	<script src = "../static/chat.js" type = "text/JavaScript"></script>

</html>
