<html>
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src = "../static/login.js" type = "text/JavaScript"></script>
	<link rel = "stylesheet" type = "text/css" href = "../static/login.css">
	</head>
	<body>
		<div class="box_div">
		<img class="box_img" src="../static/icons/hello.png">
		
			{% if error != None %}
			<div class="error_div">
				<h3>{{error}}</h3>
			</div>
			{% endif %}
		
			<form class="login_form" action="/login" method="POST">
				<p>Email:    </p><input type="text" name="username">
				<p>Password: </p><input type="password" name="password">
				<br><br><input type="submit" value="login">
			</form>
			
			<form class="register_form" action="/register" method="POST">
				<!--<p>Name:     </p><input type="text" name="name">
				<p>Surname:  </p><input type="text" name="surname">-->
				<p>Email:    </p><input type="text" name="username">
				<p>Password: </p><input type="password" name="password">
				<p>Language:</p>
				<select name="language">
					<option value="it">italian</option>
					<option value="en">english</option>
					<option value="fr">french</option>
					<option value="es">spanish</option>

				</select>
				<br><br><input type="submit" value="register">
			
			</form>
			
			<input class="login" type="button" value="LogIn" name="login">
			<input class="register" type="button" value="Register" name="register">
			
		</div>
		
		
		
		
	</body>
</html>
